<h1 style="text-align: center; margin-bottom: 50px">Saved Articles</h1>

    {{#each story}}
    {{#if saved}}

        <div class="card col-md-6" style="padding-bottom: 15px; text-align: center">

            <img class="card-img-top" src="{{this.image}}">
              <div class="card-block">
              <h4 class="card-title">{{this.title}}</h4>

            <a data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary takeNotes">Take notes!</a>

            <a href="/saved" data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary removeFavorite">UN-favorite!</a>
            </div>

            <div class="card col-md-6 notesSection" style="display: none" id="{{this._id}}">
              <h4>Notes</h4>
{{!--
              <input type="text" placeholder="Title of Note" style="margin-left: 65px; margin-bottom: 10px" id="noteHeader"> --}}

              <textarea rows="4" cols="50" id="newNotes" style="margin-left: 65px">

              </textarea>

              <a href="/saved" data-status="{{this.saved}}" data-id="{{this._id}}" class="btn btn-primary saveNotes">Save Notes</a>
            </div>

        </div>

    {{/if}}
    {{/each}}

